
      

      <div class="grid__row">
          <div class="grid__column-1">
              <header class="header__navbar">
                  <div class="header__navbar-img">
                      <a href="" class="header__navbar-list-link">
                    <img src="img/logo.svg" alt="" class="header__navbar-list-img">
                      </a>
                  </div>
              <ul class="header__navbar-list">
                  
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">Profile</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="far fa-user header__navbar-list-icon"></i>
                      </a>
                    
                  </li>
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">chat</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="fab fa-rocketchat header__navbar-list-icon "></i>
                      </a>
                  </li>
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">group</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="fas fa-user-friends header__navbar-list-icon "></i>
                      </a>
                  </li>
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">Contact</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="far fa-address-card header__navbar-list-icon"></i>
                  </a>
                  </li>
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">Settings</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="fas fa-cog header__navbar-list-icon"></i>
                      </a>
                  </li>
                  <li class="header__navbar-list-item">
                      <a href="" class="header__navbar-list-link">
                      <i class="far fa-user header__navbar-list-icon"></i>
                      </a>
                  </li>
                  
                  <li class="header__navbar-list-item">
                      <div class="header__navbar-message">
                          <span class="header__navbar-message-name">Dark mode</span>
                      </div>
                      <a href="" class="header__navbar-list-link">
                      <i class="fas fa-moon header__navbar-list-icon"></i>
                      </a>
                  </li>
                  
              </ul>
              
            
              </header> 
              <div class="header__navbar-img">
                  <a href="" class="header__navbar-list-link">
                  <img src="img/avatar.jpg" class="header__navbar-list-img header__navbar-list-cirle">
                  </a>
              </div>
          </div>
          <div class="grid__column-3">
            <div class="container_search">
           <div class="header__search">
              <div class="header__search-title">
              <h4 class="header__search-heading">Groups</h4>
              <i class="fas fa-user-friends header__search-icon ">
                  <div class="header__navbar-message-group">
                      <span class="header__navbar-message-name">Create group</span>
                  </div>
              </i>
          </div>
          <div class="header__search-input">
              <div class="header__search-input-search">
              <i class="fas fa-search header__search-input-icon"></i>
          </div>
              <input type="text" class="header__search-input-content" placeholder="Search groups...">
          </div>
          </div>
          
      <div class="container__phonebook">
  <ul class="container__phonebook-list">
      
    
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#Reporting</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#Designing</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>
      <li class="container__phonebook-item">
          <div class="container__phonebook-fram" >
          <span class="container__phonebook-name">C</span>
          </div>
          <a href="" class="container__phonebook-link">#General</a>
      </li>

  </ul>
      </div>
      
        </div>
        </div>
        <div class="grid__column-8">
            <div class="header__chat">
                <div class="header__chat-name">
                    <div class="header__chat-name-img">
                  <img src="img/avatar.jpg" class="header__navbar-list-img header__navbar-list-cirle ">
                  </div>
                  <div class="header__chat-name-div">
                  <span class="header__chat-name-fullname">Doris Brown </span>
                  <div class="active"></div>
              </div>
                  

                </div>
              <div class="header__chat-tool">
                  <div class="header__chat-tool-boder">
                  <button href="" class="header__chat-tool-search ">
                  <i class="fas fa-search header__chat-tool-icon"></i>   </button>
              </div>
               
                  <div class="header__chat-tool-boder">
                  <button href="" class="header__chat-tool-search ">
                  <i class="far fa-user header__chat-tool-icon"></i>
                  
                  </button>
                  </div>
                  <div class="header__chat-tool-boder">
                  <button href="" class="header__chat-tool-search ">
                  <i class="fas fa-ellipsis-h header__chat-tool-icon"></i>
                  </button>
                  </div>
              </div>
            </div>
        </div>
  
      </div>
      