<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />  
    <link rel="stylesheet" href="chatsolo.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
</head>
<body>

    <div class="row container">
        <div class="col-2">
            <header class="header__navbar">
                <div class="header__navbar-img">
                    <a href="" class="header__navbar-list-link">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" class="header__navbar-list-img">
                    </a>
                    
                </div>
            <ul class="header__navbar-list">
                
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">Profile</span>
                    </div>
                    <a href="" class="header__navbar-list-link">
                    <i class="far fa-user header__navbar-list-icon"></i>
                    </a>
                  
                </li>
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">chat</span>
                    </div>
                    <a href="" class="header__navbar-list-link">
                    <i class="fab fa-rocketchat header__navbar-list-icon "></i>
                    </a>
                </li>
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">group</span>
                    </div>
                
                
                   
                 
                        <!-- <p href="" class="header__navbar-list-link" (click)="createGroup()">
                            <i class="fas fa-user-friends header__navbar-list-icon " ></i>
                        </p> -->
                     
                    
                  
                   
                </li>
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">Contact</span>
                    </div>
                    <a href="" class="header__navbar-list-link">
                    <i class="far fa-address-card header__navbar-list-icon"></i>
                </a>
                </li>
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">Settings</span>
                    </div>
                    <a href="" class="header__navbar-list-link">
                    <i class="fas fa-cog header__navbar-list-icon"></i>
                    </a>
                </li>
                <li class="header__navbar-list-item">
                    <a href="" class="header__navbar-list-link">
                    <i class="far fa-user header__navbar-list-icon"></i>
                    </a>
                </li>
                
                <li class="header__navbar-list-item">
                    <div class="header__navbar-message">
                        <span class="header__navbar-message-name">Dark mode</span>
                    </div>
                    <a href="" class="header__navbar-list-link">
                    <i class="fas fa-moon header__navbar-list-icon"></i>
                    </a>
                </li>
                
            </ul>
            
          
            </header> 
            <div class="header__navbar-img">
                <a href="" class="header__navbar-list-link">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" class="header__navbar-list-img header__navbar-list-cirle">
                </a>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="container_search">
         <div class="header__search">
            <div class="header__search-title =">
            <h4 class="header__search-heading ">Groups</h4>
           <div >
            <i class="fas fa-user-friends header__search-icon  ">
                <div class="header__navbar-message-group">
                    <span class="header__navbar-message-name">Create group</span>
                </div>
            </i>
           </div>
        </div>
        <div class="header__search-input">
            <div class="header__search-input-search">
            <i class="fas fa-search header__search-input-icon"></i>
        </div>
            <input type="text" class="header__search-input-content" placeholder="Search groups...">
        </div>
        </div>
        
    <div class="container__phonebook">

    <ul class="container__phonebook-list">
    
    
   <div >
    <!-- <li  id="{{user.id}}" (click)="getID()" [class.changestyle]="check"    class="container__phonebook-item" *ngFor="let user of listFriend" style="width: 231px;height: 67px;" >
        <div class="container__phonebook-fram" >
        <span class="container__phonebook-name" style="border-radius: 50%;position: relative;"><img id="neymar" src="../../assets/neymar4.jpg" alt=""  style="border-radius: 50%;width: 44px;height: 44px;">
           
            <img src="../../assets/online.jpg" alt=""  style="width: 15px;height: 15px;position: absolute;
            top: 29px;left: 31px;border-radius: 50%;">
        </span>
        </div>          
        <a routerLink="/chatsolo/{{user.id}}" style="text-decoration: none;"> 
            <p  class="container__phonebook-link" >{{user.username}}
                
            </p>
            <div class="remainchat" style="margin-left: 19px;margin-top: -7px;font-size: 12px;display: flex;">
                <span id="chatmini">hello</span>
            <span style="margin-left: 10px;">1giờ</span>
            </div>     
            
        </a>  
        
                       
    </li> -->
   </div>
   
    
    </ul>
    </div>
    
      </div>
      </div>
      <div class="col-sm-7">
          <div class="header__chat">
              <div class="header__chat-name">
                  <div class="header__chat-name-img">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" class="header__navbar-list-img header__navbar-list-cirle ">
                </div>
                <div class="header__chat-name-div">
                <!-- <span class="header__chat-name-fullname">{{user}}</span> -->
            
                <div class="chat-about">
                    <div class="chat-with">Chat with Vincent Porter</div>
                    <div class="chat-num-messages">already 1 902 messages</div>
                  </div>
            </div>
                
    
              </div>
            <div class="header__chat-tool">
                <div class="header__chat-tool-boder">
                <!-- <button href="" class="header__chat-tool-search " (click)="joinGroup()"> -->
                <!-- <i class="fas fa-search header__chat-tool-icon"></i>   </button> -->
            </div>
             
                <div class="header__chat-tool-boder">
                <button href="" class="header__chat-tool-search ">
                <i class="far fa-user header__chat-tool-icon"></i>
                
                </button>
                </div>
                <div class="header__chat-tool-boder">
                <button href="" class="header__chat-tool-search ">
                <i class="fas fa-ellipsis-h header__chat-tool-icon"></i>
                </button>
                </div>
            </div>
          
          </div>
            <!-- CHATTTTTTTTT -->
            <div id="content__chat" style="height: 450px;width: 100%; border: solid 0.5px;display: flex;flex-direction: column;">
                
            </div>
            <!-- <div class="inputgroup"  style="display: flex;">
                <input type="text" width="100%" style="margin-top: 9px;width: 91%;padding: 10px;outline: none;" id="sendMessage" #mess (keyup.enter)="sendMessage(mess)" >
                <button style="padding: 10px; cursor: pointer;color: darkcyan;">Send</button>
            </div> -->
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                
            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>
            <button class="send">Send</button>

      </div>
    
    </div>
    
    
</body>
</html>
