<p>about works!</p>
<button (click)="tangTuoi()">Tăng tuổi</button>
<p>Bây giờ bạn đã {{age}}</p>
<p>bạn tên là DB {{name}}</p>
Comments
<span>{{comments[0] | json}}</span>
<br>
<span>bạn có &nbsp; {{posts?.length}} tin nhắn</span>
<br>
Posts
<button (click)="addPosts()" style="position: relative;">Thêm button mới
    <div style="position: absolute; right: 0px; bottom: 10px;color:white;background-color: red;border-radius: 50%;width: 15px;">{{posts?.length}} </div>
</button>
<!-- <div *ngFor="let post of posts">
    <li>{{post|json}}</li>
</div> -->
<table >
    <tr >
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
      </tr>
      <tr *ngFor="let post of posts">
        <td>{{post?.id}}</td>
        <td>{{post?.title}}}</td>
        <td>{{post?.author}}</td>
      </tr>
</table>
<div>--------------------web quan li sinh vien------------------</div>
