<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao Diện ChatRoom</title>
    <link rel="stylesheet" href="chatroom.component.scss">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div  class ="clearfix container "id="chat-container ">
     
        <div class="people-list" id="people-list">
            <div class="search">
              <input type="text" placeholder="search" />
              <i class="fa fa-search"></i>
            </div>
            <ul class="list">
              <li class="clearfix">
                <img src="../../assets/neymar4.jpg" alt="avatar" />
                <div class="about">
                  <div class="name">Teo</div>
                  <div class="status">
                    <i class="fa fa-circle online"></i> online
                  </div>
                </div>
              </li>
              
              <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" />
                <div class="about">
                  <div class="name">Ti</div>
                  <div class="status">
                    <i class="fa fa-circle online"></i> online
                  </div>
                </div>
              </li>
              
              <li class="clearfix">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_03.jpg" alt="avatar" />
                <div class="about">
                  <div class="name">Dau</div>
                  <div class="status">
                    <i class="fa fa-circle online"></i> online
                  </div>
                </div>
              </li>
              
             
              
            
             
              
              
              
             
              
              
              
             
            </ul>
          </div>
          <div class="chat">
        <div class="chat-header clearfix">
            <img src="../../assets/neymar4.jpg" alt="avatar" />
            
            <div class="chat-about">
              <div class="chat-with">Teo</div>
              <div class="chat-num-messages">Đang hoạt động</div>
            </div>
            <i class="fa fa-star"></i>
          </div>
          <div id="chat-message-list" style="display: flex; flex-direction: column;padding-bottom: 0;">
           
            
        </div>
        <div id="chat-form" >
            <input  id="sendMessage" style="width: 355px;"  type="text" placeholder="Type a messager"  #mess (keyup.enter)="sendMessage(mess) " (click)="hidden()" (keyup)="changeicon()" editor/>
            <div class="data-icon" (click)="enableorDisableIcon()">
              <i  class="far fa-smile-wink icon-emoji" style="margin-left: 6px;font-size: 30px;"></i>
              
            </div>
            <!-- khung chat -->
            <div *ngIf="showicon">
              <div class="khungchat">
              <h3>Biểu tượng cảm xúc và icon </h3>
              <div class="clearfix">
               <div class="khungchat-icon" role="button" >

                <img src="{{icon.src}}" alt="{{icon.ALT}}"  width="28px" height="28px" id="Imagenek" *ngFor="let icon of ListIcon;index as i" (click)=addIcon(i) (click)="changeicon()"  >

               </div>

              </div> 

              </div>

          </div>
          <button id="SEND" style="padding: 10px; cursor: pointer;color: darkcyan;position: absolute;left: 389px;" (click)="sendMessage(mess)" >
                  
            <img  id="ImgLike"src="../../assets/like.png" style="width: 28px;height:28px;" alt="">
            
         </button>
            
            
           

        </div>
           
</div>
        
    </div>
    
</body>
</html>