body{
    
    color: #313131;
    font-family: "Roboto",sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Internet-group-chat.svg/768px-Internet-group-chat.svg.png);
    background-size: cover;
    background-position: center center ;
    overflow: hidden;
   
}
.input-group{

    margin: 2rem 0;
    position: relative;
}
.container{
    background-color: white;
    padding: 1rem 2rem;
    box-shadow: 4px 4px 12px rgba(0,0,0,0.5);
    border-radius: 1rem;
}
.container h2{
    text-align: center;
    font-weight: 400;
    user-select: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.container input{
    border: none;
    border-bottom: 1px solid dodgerblue;
    outline: none;
    padding: 6px 4px;
    display: block;
    margin:6px auto;
}
.container label{
    position: absolute;
    left: 29px;
    top: 4px;
    font-weight: 400;
    font-size: 15px;
    pointer-events: none;
    color: gray;
    transition: 200 ease;

}
input:focus + label,input:valid+label{
    top: -9px;
    font-size: 13px;
    color: dodgerblue;
}
 button{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    padding: 1rem 1rem;
    border: none;
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    transition: 200ms;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
}
.container p{
font-weight: 300;
font-size: 14px;    
text-align: center;
margin-top: 2rem;
}
.container a{
    color: dodgerblue;
}
.notify{
 display: flex;
 align-items: center;
}
#notify-register{
    display: none;
    position: absolute;
    top:0px;
    right: 780px;
    padding: 15px 0;
    border-left: 5px solid green;
    border-radius: 5px ;
    height: 66px;
}
.notify-first{
    font-size: 1.8rem;
}
.notify-three{
    padding: 0 8px;
    cursor: pointer;
    font-size: 1.4rem;
}
.notify-second{
    padding: 0 18px;
    h3{
     font-size: 16px;
    font-weight: 600;
    color:rgb(37, 18, 18);
    }
    p{
        margin: 0;
        font-size: 14px;
       // color:hsla(60, 90%, 45%, 0.2);
    }
}