<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="register.component.scss">
</head>
<body>
    <div class="container">
        <h2>Welcome to AppChat</h2>
       <div class="input-group">
           <input type="text" id="username" required>
           <label for="username">Username</label>
       </div>
       <div class="input-group">
        <input type="password" id="password" required>
        <label for="password">Password</label>
        </div>
        <div class="input-group">
            <input type="password" id="repeatpassword" required>
            <label for="repeatpassword">RepeatPassword</label>
            </div>
        <button type="submit" >Register</button>
        <p>Do you want login? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></p>
    </div>
    
</body>
</html>
